<p>Pagina de Empleados</p>

<form (ngSubmit)="createPersona(nuevaPersona)">
  <input [(ngModel)]="nuevaPersona.nombre" name="nombre" placeholder="Nombre" type="text">
  <input [(ngModel)]="nuevaPersona.apellido" name="apellido" placeholder="Apellido">
  <button type="submit">Crear</button>
</form>


<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de Nacimiento</th>
    <th>NIT</th>
    <th>Edad</th>
    <th>Fecha de Contrato</th>
    <th>Correo</th>
    <th>Salario</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
  <tr *ngFor="let persona of Persona; let i = index">
    <td>{{ persona?.nombre }}</td>
    <td>{{ persona?.apellido }}</td>
    <td>{{ persona?.fechaNacimiento }}</td>
    <td>{{ persona?.nit }}</td>
    <td>{{ persona?.edad }}</td>
    <td>{{ persona?.fechaContrato }}</td>
    <td>{{ persona?.correo }}</td>
    <td>{{ persona?.salario }}</td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-target="#editModal" (click)="openModal(persona)">Editar</button>
    </td>
    <td>
      <button (click)="deletePersona(i)">Eliminar</button>
    </td>
  </tr>
</table>

<ng-template #editModal let-modal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar persona</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="personaAEditar" (ngSubmit)="guardarCambios()">
          <input [(ngModel)]="personaAEditar.nombre" name="nombre" placeholder="Nombre">
          <input [(ngModel)]="personaAEditar.apellido" name="apellido" placeholder="Apellido">
          <input [(ngModel)]="personaAEditar.fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de nacimiento" type="date">
          <input [(ngModel)]="personaAEditar.nit" name="nit" placeholder="NIT">
          <input [(ngModel)]="personaAEditar.edad" name="edad" placeholder="Edad" type="number">
          <input [(ngModel)]="personaAEditar.fechaContrato" name="fechaContrato" placeholder="Fecha de contrato" type="date">
          <input [(ngModel)]="personaAEditar.correo" name="correo" placeholder="Correo" type="email">
          <input [(ngModel)]="personaAEditar.salario" name="salario" placeholder="Salario" type="number">
          <button type="submit">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>

