<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

<div class="card" style="width: 18rem;">
  <img src="assets/images/Empleado.png" class="card-img-top" alt="Empleados trabajando">
  <div class="card-body">
    <h5 class="card-title">Empleados</h5>
    <p class="card-text">Pagina de los empleados</p>
    <a href="#" class="btn btn-primary">vamos!</a>
  </div>
</div>
<!--!- Imagenes del carrusel -->
<div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 60%;">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/Empleado.png" class="d-block w-100" alt="Empleado" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado2.png" class="d-block w-100" alt="Empleado2" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado3.png" class="d-block w-100" alt="Empleado3" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado4.png" class="d-block w-100" alt="Empleado4" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado5.jpg" class="d-block w-100" alt="Empleado5" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado6.jpg" class="d-block w-100" alt="Empleado6" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado7.jpeg" class="d-block w-100" alt="Empleado7" style="max-height: 200px;">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Empleado8.jpg" class="d-block w-100" alt="Empleado8" style="max-height: 200px;">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Agrega un espacio entre el carrusel y la tabla -->
<div style="margin-top: 120px;"></div>

<!-- Boton de Crear -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
  <button type="button" class="btn btn-outline-success position-relative" (click)="openCreateModal()">Crear Nueva Persona</button>
      </div>
    </div>
  </div>
  <!-- Código del modal -->

<ng-template #createModal let-modal>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear persona</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="nuevaPersona">
          <div class="row">
            <div class="mb-3">
              <label for="nombre" class="form-label fw-bolder">Nombre:</label>
              <input [(ngModel)]="nuevaPersona.nombre" class="form-control border-success text-primary" name="nombre" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <label for="apellido" class="form-label fw-bolder">Apellidos:</label>
              <input [(ngModel)]="nuevaPersona.apellido" class="form-control border-success text-primary" name="apellido" placeholder="Apellido">
            </div>
            <div class="mb-3">
              <label for="fechaNacimiento" class="form-label fw-bolder">Fecha de Nacimiento:</label>
              <input [(ngModel)]="nuevaPersona.fechaNacimiento" class="form-control border-success text-primary" name="fechaNacimiento" placeholder="Fecha de nacimiento" type="date" (change)="calculateAge(nuevaPersona.fechaNacimiento, 'nuevaPersona')">
            </div>
            <div class="mb-3">
              <label for="nit" class="form-label fw-bolder">NIT:</label>
              <input [(ngModel)]="nuevaPersona.nit" class="form-control border-success text-primary" name="nit" placeholder="NIT">
            </div>
            <div class="mb-3">
              <label for="edad" class="form-label fw-bolder">Edad:</label>
              <input [(ngModel)]="nuevaPersona.edad" class="form-control border-success text-primary" name="edad" placeholder="Edad" type="number">
            </div>
            <div class="mb-3">
              <label for="fechaContrato" class="form-label fw-bolder">Fecha de Contrato:</label>
              <input [(ngModel)]="nuevaPersona.fechaContrato" class="form-control border-success text-primary" name="fechaContrato" placeholder="Fecha de contrato" type="date">
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label fw-bolder">Correo:</label>
              <input [(ngModel)]="nuevaPersona.correo" class="form-control border-success text-primary" name="correo" placeholder="Correo" type="email">
            </div>
            <div class="mb-3">
              <label for="salario" class="form-label fw-bolder">Salario:</label>
              <input [(ngModel)]="nuevaPersona.salario" class="form-control border-success text-primary" name="salario" placeholder="Salario" type="number">
            </div>
          </div>
            <button type="button" class="btn btn-outline-success position-relative" (click)="createPersona()">
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
              <span role="status">Crear persona...</span>
            </button>
          </form>
      </div>
    </div>
  </div>
</ng-template>

  <div class="container">
    <div class="row justify-content-center ">
      <div class="table-responsive">
        <div class="border border-primary">
  <table class="table table-hover table-bordered border-primary">
    <tr>
      <th class="bg-primary text-white">No.</th>
      <th class="bg-primary text-white">Nombre</th>
      <th class="bg-primary text-white">Apellido</th>
      <th class="bg-primary text-white">Fecha de Nacimiento</th>
      <th class="bg-primary text-white">NIT</th>
      <th class="bg-primary text-white">Edad</th>
      <th class="bg-primary text-white">Fecha de Contrato</th>
      <th class="bg-primary text-white">Correo</th>
      <th class="bg-primary text-white">Salario</th>
      <th class="bg-primary text-white">Editar</th>
      <th class="bg-primary text-white">Eliminar</th>
    </tr>
    <tr *ngFor="let persona of persona; let i = index">
      <td class="fw-bolder">{{ i + 1}}</td>
      <td>{{ persona?.nombre }}</td>
      <td>{{ persona?.apellido }}</td>
      <td>{{ persona?.fechaNacimiento | date:'dd MMMM yyyy' }}</td>
      <td>{{ persona?.nit }}</td>
      <td>{{ persona?.edad }}</td>
      <td>{{ persona?.fechaContrato | date:'dd MMMM yyyy' }}</td>
      <td>{{ persona?.correo }}</td>
      <td>{{ persona?.salario }}</td>
      <td>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" [attr.data-bs-target]="'#editModal' + i" (click)="openModal(persona)">Editar</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deletePersona(persona.id)">Eliminar</button>
      </td>

    </tr>
  </table>
</div>
</div>
</div>
</div>

<!-- Código del modal -->

<ng-template #editModal let-modal>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar persona</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="personaAEditar">
          <div class="mb-3">
            <label for="nombre" class="form-label fw-bolder">Nombre:</label>
            <input [(ngModel)]="personaAEditar.nombre" class="form-control border-success text-primary" name="nombre" placeholder="Nombre">
          </div>

          <div class="mb-3">
            <label for="apellido" class="form-label fw-bolder">Apellidos:</label>
            <input [(ngModel)]="personaAEditar.apellido" class="form-control border-success text-primary" name="apellido" placeholder="Apellido">
          </div>

          <div class="mb-3">
            <label for="fechaNacimiento" class="form-label fw-bolder">Fecha de Nacimiento:</label>
            <input [(ngModel)]="personaAEditar.fechaNacimiento" class="form-control border-success text-primary" name="fechaNacimiento" placeholder="Fecha de nacimiento" type="date" (change)="calculateAge(personaAEditar.fechaNacimiento, 'personaAEditar')">
          </div>

          <div class="mb-3">
            <label for="nit" class="form-label fw-bolder">NIT:</label>
            <input [(ngModel)]="personaAEditar.nit" class="form-control border-success text-primary" name="nit" placeholder="NIT">
          </div>

          <div class="mb-3">
            <label for="edad" class="form-label fw-bolder">Edad:</label>
            <input [(ngModel)]="personaAEditar.edad" class="form-control border-success text-primary" name="edad" placeholder="Edad" type="number">
          </div>

          <div class="mb-3">
            <label for="fechaContrato" class="form-label fw-bolder">Fecha de Contrato:</label>
            <input [(ngModel)]="personaAEditar.fechaContrato" class="form-control border-success text-primary" name="fechaContrato" placeholder="Fecha de contrato" type="date">
          </div>

          <div class="mb-3">
            <label for="correo" class="form-label fw-bolder">Correo:</label>
            <input [(ngModel)]="personaAEditar.correo" class="form-control border-success text-primary" name="correo" placeholder="Correo" type="email">
          </div>

          <div class="mb-3">
            <label for="salario" class="form-label fw-bolder">Salario:</label>
            <input [(ngModel)]="personaAEditar.salario" class="form-control border-success text-primary" name="salario" placeholder="Salario" type="number">
          </div>

          <button type="button" class="btn btn-outline-success position-relative" (click)="guardarCambios()">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Guardar cambios...</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>




